@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body{
	font-family:  'Hanna', sans-serif;
	color:  #000;
	font-size:  16px;
	line-height: 1.5;
}

a {
	color:  #000;
	text-decoration:  none;
}

.container{
	max-width:  1380px;
	margin-left:  auto;
	margin-right: auto;
}

.magenta{
	color:  #FF0066;
}

.yellow{
	color:  #F8E71C;
}

.site-header{
	/* padding adds internal space */
	padding: 30px;
	border-bottom:  solid 1px #CCC;
}

.header-inner {
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
}

.logo{

	display:  block;
	width:  50px;
}

.language-select{

	display:  block;
	width:  50px;
	text-align:  right;

	font-size:  12px;
	white-space:  nowrap;
	
}

.menu{
	padding-left:  0;
	margin:  0;
	display:  flex;

	/*This removes bullet points! */
	list-style:  none;
	text-transform:  lowercase;
}


.menu-item {
	margin-left: 10px;
	margin-right: 10px;
}


/*-------------------------------*/
/*--------HERO SECTION-----------*/
/*-------------------------------*/

.hero {
	padding-top:  160px;
	padding-bottom:  220px;
	padding-left: 30px;
	padding-right:  30px;

	background-image:  url('../assets/intro-bg.svg');
	background-size:  auto 100%;
	background-position:  center;
	background-repeat:  no-repeat;

	position: relative;

}

.hero-text{
	font-size: 180px;
	line-height:  1;
	color:  #FF0066;
	text-align:  center;
}

.hero-sitename{
	color:  #000;
}

.hero-description{
	margin:  0;
	position:  absolute;
	bottom:  48px;
	left:  0;
	width:  100%;

	text-align:  center;
	font-size:  20px;
}

/*-------------------------------*/
/*-------INTRO SECTION-----------*/
/*-------------------------------*/

.intro{
	background-image:  url('../assets/hero-bg.jpg');
	background-size:  cover;
	padding-top:  310px;
	padding-bottom:  250px;
}

.intro-inner{
	max-width:  960px;
	margin-left:  auto;
	margin-right:  auto;
	text-align:  center;

	color:  white;
	text-shadow:  0 2px 0 rgba(0,0,0,0.20);
}

.intro-title{
	font-size:  20px;
	border-bottom:  3px solid #FFF;
	padding-bottom:  1px;
	display:  inline-block;

	margin-top:  0;
	margin-bottom:  48px;
}

.intro-description{
	font-size:  50px;
	margin:  0;
	line-height: 1;
}

/*-------------------------------*/
/*-------MENU ITEM SECTION-------*/
/*-------------------------------*/

.entry-header{
	padding: 10px;
	background-color: #FF0066;
	display:  flex;
	justify-content:  space-between;
	align-items:  center;
}

.entry-title, .entry-price{
	font-size: 16px;
	color:  #FFF;
	margin:  0;
	line-height: 1;
}

.entry-title{
	text-transform:  lowercase;
}

/*-------------------------------*/
/*----WP DEFAULT OVERRIDES-------*/
/*-------------------------------*/

.wp-post-image{
	max-width:  100%; 
	width:  auto !important;
	height:  auto !important;
	display:  block;
}

.post-thumbnail{
	display:  block;
	pointer-events:  none;
}

/*-------------------------------*/
/*-----------FOOD GRID-----------*/
/*-------------------------------*/

.food-title{
	font-size:  20px;
	padding-top:  50px;
	padding-bottom:  50px;
	border-bottom: solid 1px #CCC;

	text-align:  center;
	text-transform:  lowercase;
	margin-bottom:  50px;
}
.post{
	position:  relative;
}

.food-grid{
	display:  grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 50px;
	column-gap: 20px;

	max-width:  1220px;
	margin-left:  auto;
	margin-right: auto;
}




/* 
1220px wide grid
2x3 grid
20px horizontal space
50px space vertically



*/




